---
import Arrow from "./Icons/Arrow-up-right.astro";

const CERTIFICATES = [
  {
    name: "Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap - Udemy",
    date: "05/05/2023",
    url: "https://www.udemy.com/certificate/UC-4ee9b514-fa97-4e94-83e5-f93c99a51ef6/",
    image: "/certificados/masterCss.webp",
  },
  {
    name: "Google My Business - Google",
    date: "04/09/2023",
    url: "https://skillshop.exceedlms.com/student/award/SCkLA4MGNzJjNAJDiJsCExUh",
    image: "/certificados/googleMyBussines.webp",
  },
  {
    name: "Master en CSS3 Avanzado: Maqueta 3 sitios web profesionales - Udemy",
    date: "19/02/2024",
    url: "https://www.udemy.com/certificate/UC-104cc0ab-0eb1-43a9-bcf2-961573be8f42/",
    image: "/certificados/masterCss3.webp",
  },
  {
    name: "GIT+GitHub: Todo un sistema de control de versiones de cero - Udemy",
    date: "14/08/2024",
    url: "https://www.udemy.com/certificate/UC-600da661-ac86-4c3d-9edb-71abf148b62c/",
    image: "/certificados/masterGithub.webp",
  },
  {
    name: "React: De cero a experto ( Hooks y MERN ) - Udemy",
    date: "15/12/2024",
    url: "https://www.udemy.com/certificate/UC-a128210d-3697-47c0-b3f0-600849355cd4/",
    image: "/certificados/masterReact.webp",
  },
];
---


{
  CERTIFICATES.slice().reverse().map(({ name, date, url, image }) => (
    <a
      href={url}
      class="mb-4 group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:border-neutral-400 md:flex-row md:items-center"
      target="_blank"
      rel="noreferrer"
    >
      <div class="flex flex-col gap-4 md:flex-row md:items-center">
        <img class="size-14 object-cover rounded-full" src={image} alt={`Logotipo del curso ${name}`} />
        <div>
          <p class="text-zinc-300 font-medium text-lg">{name}</p>
          <p class="text-xs text-yellow-400/90">{date}</p>
        </div>
      </div>
      <Arrow class="size-5 transition-all duration-300 group-hover:translate-x-1 opacity-70" />
    </a>
  ))
}

